body {
    background-color: hsl(59, 100%, 81%);
    font-family: 'Monolisa', Times, serif, sans-serif; 
    font-size: 16px;               
}

.highlight {
  color: rgb(52, 28, 6);
  background-color: hsl(59, 100%, 81%);
  padding: 10px;
}

.info-text {
  font-style: italic;
  color: #6f3000;
  line-height: 1.6;
}

.fancy-list {
  background-color: hsl(44, 100%, 81%);
  padding: 15px;
  border: 2px solid #6f3000;
  list-style-type: square;
}

#header-section {
  background-color: #6f3000;
  text-align: center;
  padding: 20px;
}

#footer-section {
  color: #6f3000;
  text-align: right;
  padding: 15px;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
    padding: 10px;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
