body {
    background-color: hsl(59, 100%, 81%);
    font-family: 'Times New Roman', Times, serif, sans-serif; 
    font-size: 16px;               
}

h1 {
    text-align: center;   
}

h2 {
    text-align: left;     
}

p {
    text-align: left;
    lind-height: 1.5;
    color: #6f3000 
}

ul {
    color: #6f3000;
}

ol {
   color: #6f3000;
}


.highlight {
  color: rgb(52, 28, 6);
  background-color: hsl(59, 100%, 81%);
  padding: 10px;
}

.info-text {
  font-style: italic;
  color: #6f3000;
  line-height: 1.6;
}

.fancy-list {
  background-color: hsl(44, 100%, 81%);
  padding: 15px;
  border: 2px solid #6f3000;
  list-style-type: square;
}

#header-section {
  background-color: #6f3000;
  text-align: center;
  padding: 20px;
}

#footer-section {
  color: #6f3000;
  text-align: right;
  padding: 15px;
}

.list-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    margin 20px 0;
}

.list-container > div {
    flex: 1;
}